# --- Python & Environnement ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# --- Django ---
db.sqlite3
media/
static_root/
staticfiles/

# --- Sécurité ---
.env

# --- Systèmes d'exploitation ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE ---
.vscode/
.idea/

# --- Intelligence Artificielle & Data ---
*.gguf
*.bin
models/
ai_engine/temp_exams/*
!ai_engine/temp_exams/.gitkeep

# --- Logs & Divers ---
*.log
.coverage
htmlcov/